<div class="row">
<div class="page-header clearfix">
  <h1>
    Tabellen
  </h1>
</div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      Aktueller Stand
    </div>
    <div class="panel-body">
      <%= render "feedback/tables/learner_table", id: 0 %>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      Fortschritt
    </div>
    <div class="panel-body">
      <%= render "feedback/tables/learner_table_with_history", id: 0 %>
    </div>
  </div>
</div>