<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
      <thead>
        <tr>
          <th>Kompetenz</th>
          <th>Niveau</th>
          <th>Punkte</th>
          <th># Absolviert</th>
          <th>Datum</th>
          <th># Übungen</th>
        </tr>
      </thead>
      <tbody>
          <% @learner.select{ |l| l.skill.is_general? }.each do |entry| %>
            <tr>
              <td><%= entry.skill.category.name %></td>
              <td><%= entry.skill.niveau.name %></td>
              <td><%= render "progress_bar", points: entry.points, name: nil %></td>
              <td><%= entry.progress %></td>
              <td>Gesamt</td>
              <td><%= entry.skill.exercises.count %></td>
            </tr>
            <% entry.snapshots.each do |entry| %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><%= render "progress_bar", points: entry.points, name: nil %></td>
                <td><%= entry.progress %></td>
                <td><%= "vor #{time_ago_in_words entry.updated_at}" %></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
