<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
      <thead>
        <tr>
          <th>Kompetenz</th>
          <th>Thema</th>
          <th>Niveau</th>
          <th>Punkte</th>
          <th># Absolviert</th>
          <th># Übungen</th>
        </tr>
      </thead>
      <tbody>
          <% SkillCategory.each do |category| %>
            <tr>
              <td><%= category.name %></td>
            </tr>
            <%category.skills.each do |skill| %>
              <% entry = @learner.select {|l| l.skill == skill }.first %>
              <tr>
                <td>-</td>
                <td><%= skill.name %></td>
                <% if entry %>
                  <td><%= entry.skill.niveau.name %></td>
                  <td><%= render "progress_bar", points: entry.points, name: nil %></td>
                  <td><%= entry.progress %></td>
                  <td><%= entry.skill.exercises.count %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
