<div>
<div class="page-header clearfix">
  <h1>
    Momentaufnahme
  </h1>
</div>
</div>

<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Visualisierungen</b>
    </div>
    <div class="panel-body">
      <%= render "feedback/moment/visualisations", id: 0 %>
    </div>
  </div>
</div>