<div class="row">
  <div class="col-sm-10 col-md-8 col-lg-6">
    <h2>Kompetenzen</h2>
    <canvas id="bar_chart_<%=id%>"></canvas>
  </div>
</div>

<% SkillCategory.in(name: ['Grammatik', 'Wortschatz']).all.each do |category| %>
    <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6" style="max-height: <%= "#{24*category.skills.count}px" %>">
        <h2><%= category.name %></h2>
        <canvas id="bar_chart_<%=category.name%>_<%=id%>"></canvas>
    </div>
    </div>

  <%= javascript_tag do %>
    $(document).ready(function(){
        var ctx = document.getElementById("bar_chart_<%=category.name%>_<%=id%>");
        var bar_chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: <%= raw bar_chart_data(category) %>,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        ticks: {
                            stepSize: 10,
                            max: 100,
                            beginAtZero: true,
                            stacked: true
                        }
                    }]
                },
                legend: {
                    display: false
                },

            }
        });
    });
  <% end %>
<% end %>


<%= javascript_tag do %>
  $(document).ready(function(){
    var ctx = document.getElementById("bar_chart_<%=id%>");
    var bar_chart = new Chart(ctx, {
        type: 'horizontalBar',
        data: <%= raw bar_chart_data %>,
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        stepSize: 10,
                        max: 100,
                        beginAtZero: true,
                        stacked: true
                    }
                }]
            },
            legend: {
                display: false
            },

        }
    });
  });
<% end %>
