<div class="wordlist-item-list-wrapper" id="wordlist-item-list-13548065153270000011403625932-wrapper">
					<ul class="wordlist-item-list">
<li id="elem-13548065153270000011403625932-0" class="wordlist-item content-slide pos-1" data-entry-num="1">
<div class="wordlist-item-content has-img" id="wl-aj-yellow">
<div class="wordlist-item-img-area" style="width:256px;float: right;"><div class="wordlist-img"><div id="elem-13548065153270000011403625932-0-img-wrapper" class="image-wrapper wordlist-display-content img-wordtype-aj"><div class="content-wrapper">
			<div class="content-preview" style="display:none;">
			<p>Bild anzeigen</p>
			</div>
<div id="elem-13548065153270000011403625932-0-img-wrapper-content" class="content" style="overflow:hidden;">
									<img class="imgfile" src="https://static.englisch-lernen-online.de/img/farben/gelb.jpg" alt="gelb">
								</div>
</div></div></div></div>
<div class="imgserver-editModeInfo" style="display:none;">imgserver-1-colouryellow</div>
<div class="wordlist-item-text-area" style="margin-right:266px;"><ul>
			<li class="wordlist-word wordlist-text-display-content wordlist-display-content">
				<div class="content-wrapper">
			<div class="content-preview" style="display:none;">
			<p><span class="chunkNotExists">Angabe von Chunk mit dem Key wordlistShowContentWord fehlerhaft, da es kein Chunk mit diesem Key gibt.</span></p>
			</div>
<div class="content">
<span class="word">yellow</span><span class="word-ipa">[ˈjɛləʊ]</span><span class="word-wordtype wordtype-aj">(Adjektiv)</span>
				</div>
				</div>
			</li>
				<li class="wordlist-definition wordlist-text-display-content wordlist-display-content">
					<div class="content-wrapper">
			<div class="content-preview" style="display:none;">
			<p>Definition anzeigen</p>
			</div>
<div class="content">
							<span class="wordlist-header">Definition:</span>
							<ul class="wordlist-content-item"><li>a colour between green and orange, the colour of a lemon</li></ul>
						</div>
					</div>
				</li>

				<li class="wordlist-translation wordlist-text-display-content wordlist-display-content">
					<div class="content-wrapper">
			<div class="content-preview" style="display:none;">
			<p>Übersetzung anzeigen</p>
			</div>
<div class="content">
							<span class="wordlist-header wordlist-header-translation">Übersetzung:</span>
							<ul class="wordlist-content-item">
								<li class="wordlist-translation-item wordlist-translation-item-de" lang="de" xml:lang="de">gelb</li>

							</ul>
						</div>
					</div>
				</li>
