<%# link_to "Zurück", :back, class: "btn btn-default" if params[:skill_id] %>
<%= link_to "Zurück", learn_path, class: "btn btn-default" if params[:skill_id] %>

<div>
<div class="page-header clearfix">
  <h1>
    Lernfortschritt
  </h1>
</div>
</div>

<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Lernfortschritt</b>
    </div>
    <div class="panel-body">
      <%= render "feedback/progress/progress", id: 0 %>
    </div>
  </div>
</div>



