
<div>
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Zeitskala
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "anzeigen", params.merge(feedback: :skill_tree, average: true).permit(:feedback, :average) %></li>

            <li><%= link_to "Die letzten 10 Minuten", params.merge({feedback: :progress, scale: 10.minutes, skill_id: params[:skill_id]}).permit(:feedback, :scale, :skill_id) %></li>
            <li><%= link_to "Die letzten 30 Minuten", params.merge({feedback: :progress, scale: 30.minutes, skill_id: params[:skill_id]}).permit(:feedback, :scale, :skill_id) %></li>
            <li><%= link_to "Die letzte Stunde", params.merge({feedback: :progress, scale: 1.hour , skill_id: params[:skill_id]}).permit(:feedback, :scale, :skill_id) %></li>
            <li><%= link_to "Die letzten 2 Stunden", params.merge({feedback: :progress, scale: 2.hour, skill_id: params[:skill_id]}).permit(:feedback, :scale, :skill_id) %></li>
            <li><%= link_to "Die letzten 12 Stunden", params.merge({feedback: :progress, scale: 2.hour, skill_id: params[:skill_id]}).permit(:feedback, :scale, :skill_id) %></li>
            <li><%= link_to "Der letze Tag", params.merge({feedback: :progress, scale: 12.hour, skill_id: params[:skill_id]}).permit(:feedback, :scale, :skill_id) %></li>
            <li><%= link_to "Die letzte Woche", params.merge({feedback: :progress, scale: 1.week, skill_id: params[:skill_id]}).permit(:feedback, :scale, :skill_id) %></li>
            <li><%= link_to "Der letzte Monat", params.merge({feedback: :progress, scale: 1.month, skill_id: params[:skill_id]}).permit(:feedback, :scale, :skill_id) %></li>
            <li><%= link_to "Seit beginn", params.merge({feedback: :progress, scale: -1, skill_id: params[:skill_id]}).permit(:feedback, :scale, :skill_id) %></li>
    </ul>
    </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h2>Fortschritt</h2>
    <canvas id="history_line_chart_main<%=id%>"></canvas>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h2>Fortschritt Unterthemen</h2>
    <canvas id="history_line_chart_children<%=id%>"></canvas>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h2>Absolvierte Übungen</h2>
    <canvas id="history_line_chart_progress<%=id%>"></canvas>
  </div>
</div>


<%= javascript_tag do %>
  $(document).ready(function(){
    var ctx = document.getElementById("history_line_chart_main<%=id%>");
    var line_chart = new Chart(ctx, {
        type: 'line',
        data: <%= raw history_line_data_main("points", params[:scale], params[:skill_id]) %>,
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stacked: true,
                        autoskip: false,
                    }
                }],
                yAxes: [{
                    ticks: {
                        max: 100,                        
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: true
            }
        }
    });

    var ctx = document.getElementById("history_line_chart_children<%=id%>");
    var line_chart = new Chart(ctx, {
        type: 'line',
        data: <%= raw history_line_data_children("points", params[:scale], params[:skill_id]) %>,
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stacked: true,
                        autoskip: false,
                    }
                }],
                yAxes: [{
                    ticks: {
                        max: 100,                        
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: true
            }
        }
    });

    var ctx = document.getElementById("history_line_chart_progress<%=id%>");
    var line_chart = new Chart(ctx, {
        type: 'line',
        data: <%= raw history_line_data_main("progress", params[:scale], params[:skill_id]) %>,
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stacked: true,
                        autoskip: false,
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: true
            }
        }
    });
  });
<% end %>
