<div class="row">
  <div class="col-sm-8 col-md-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Registrieren</h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(mindestens <%= @minimum_password_length %> Zeichen)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          </br>

          <div class="actions">
            <%= f.submit "Account anlegen", class: "btn btn-info" %>
          </div>
        <% end %>

        </br><hr>
        <div >
        <p>Du hast bereits einen Account? </p>
        <p>
          <%= link_to "Einloggen", new_user_session_path, class: "btn btn-info" %>
        </p>
        </div>

      </div>
    </div>
  </div>
</div>
