
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% if learner && skill.children.empty? %>
      <li>
        <a type="button" class="btn btm-sm" data-toggle="modal" data-target="#edit-modal_<%= learner.id %>">
          Anpassen
        </a>
      </li>
    <% end %>
    <li>
      <%= link_to 'Zeitlicher Verlauf', { controller: "feedback", action: "index", feedback: :progress, scale: -1, skill_id: skill.id } %>
    </li>
  </ul>
</div>


<% if learner && skill.children.empty? %>
  <div id="edit-modal_<%= learner.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Selbsteinschätzung</h4>
        </div>
        <div class="modal-body">
          <p>
            Verändere deine Leistung um Bereich <%= learner.skill.name %>
          </p>
          <p>
            <%= render "feedback/skill_tree/edit_learner/form", learner: learner %>
          </p>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>
  </div>    
<% end %>
