<div>
  <%= simple_form_for learner, url: learner_path(learner), method: :patch, remote: true do |f| %>
    <p>
      <%= f.input_field :points, collection: (0..10), class: "form-control" %>
      <%= f.hidden_field :max_points, value: 10, class: "form-control" %>
    </p>
    <p>
      <%= f.button :submit, "Abschicken", class: "btn btn-primary btn-sm pull-right"%>
      <button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">Abbrechen</button>

    </p>
  <% end %>
</div>