Hier kannst du dir Empfehlungen geben lassen, um bestimmte Bereiche zu üben und erhältst eine Übersicht über deinen Leistungsstand.

</br>
Du kannst zwischen visuellem Feedback und Text-Feedback auswählen.
</br>
</br>

Wenn du auf das <span class="glyphicon glyphicon-search"></span>-Symbol klickst, kannst du dir noch mehr Details ansehen.