<h3>Skill Tree: </h3>
<p>
  Hier kannst du etwas über deinen aktuellen Wissensstand lernen.

  Die einzelnen Zeilen ind er Übersicht stellen die verschiedenen Kompetenz- und Themenbereiche dar. 

</p>
<p>
  
</p>

<strong>Leistung</strong>
<p>
  Willst du etwas über den zeitlichen Verlauf zu einem Thema wissen, gelangst du über einen Klick
  auf das Thema zur Übersicht.
  Über das kleine Symbol links daneben
  (<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>)
  gelangst du zu den Unterthemen.

  </p>

<strong>Leistung</strong>
<p>
  In der Spalte Leistung kannst du dir deinen aktuellen Leistungsstand anzeigen lassen.
  Der schwarze Strich stellt die durchschnittliche Leistung aller Nutzer dar.  
</p>

<strong>Fortschritt</strong>
<p>
  In der Spalte "Fortschritt" zeigt dir an, wie viele Übungen du bisher
  in diesem Bereich absolviert hast.
</p>

<strong>Edit-Symbol</strong>
<p>
  Mit dem "Edit-Symbol" (
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>

) neben der Leistungsanzeige kannst du deinen Leistungsstand selbst verändern, 
  wenn du damit nicht einverstanden bist. 
</p>