  <div class="page-header clearfix">
    <%= link_to "Zurück", learn_path, class: "btn btn-default" if params[:skill_id] %>

    <h1>
      Detailansicht Lernfortschritt
    </h1>
    <h4>
      <%= Skill.find(params[:skill_id]).to_string %>
    </h4>
  </div>

<div>
  <% if @learner.where(skill: params[:skill_id]).any? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <b>Details</b>
      </div>        
      <div class="panel-body">
        <%= render "feedback/detail/text", id: 0 %>
      </div>
    </div>
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <b>Fortschritt über die Zeit</b>
      </div>
      <div class="panel-body">
        <%= render "feedback/detail/progress", id: 0 %>
      </div>
    </div>
  <% else %>
    Bisher hast du noch keine Übungen im Bereich <b><%= Skill.find(params[:skill_id]).to_string %></b> absolviert.
  <% end %>
</div>



