  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Letzte absolvierte Übung:</td>
        <td><%= "vor #{time_ago_in_words(@learner.where(skill: params[:skill_id]).first.updated_at, locale: :de)}" %></td>
      </tr>
      <tr>
        <td>Bisher absolvierte Übungen:</td>
        <td><%= "#{@learner.where(skill: params[:skill_id]).first.snapshots.count} Übungen" %></td>
      </tr>
    </tbody>
  </table>



