<div class="row">
<div class="page-header clearfix">
  <h1>
    Logbuch
  </h1>
</div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Logbuch</b>
    </div>
    <div class="panel-body">
      <%= render "feedback/learner_log/log", id: 2, limit: 10 %>
    </div>
  </div>
</div>
