<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
      <thead>
        <tr>
          <th>Übung</th>
          <th>Kompetenzen</th>
          <th>Punkte</th>
          <th>Missverständnisse</th>
          <th>Zeit</th>
          <th>Wann</th>
        </tr>
      </thead>
      <tbody>
          <% @learner_logs[0..limit].each do |log_entry| %>
            <tr>
              <td><%= log_entry.exercise.name %></td>
              <td>
                <ul class="list-group">
                  <% log_entry.exercise.skills.each do |s| %>
                    <li class='list-group-item'><%= s.to_string_simple %></li>
                  <% end %>
                </ul>
              </td>
              <td><%= "#{log_entry.points} / #{log_entry.max_points}" %></td>
              <td><%= log_entry.misconceptions.to_sentence if log_entry.misconceptions %></td>
              <td>vor <%= time_ago_in_words log_entry.created_at %></td>
              <td><%= link_to "Löschen", learner_log_path(log_entry), method: :delete, data: { confirm: 'Soll das Übungsergebnis wirklich gelöscht werden?' }, class: "btn btn-sm btn-danger" %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
