  <table class="table table-bordered">
    <thead>
      <tr>
        <% stats.first.keys.each do |attribute_name| %>
          <th><%= attribute_name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% stats.each do |entry| %>
        <tr>
          <% entry.values.each do |attribute_value| %>
            <td><%= attribute_value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
