<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification message: 'Bitte füllen Sie alle Felder korrekt aus und beantworten alle Fragen.' %>
  <%= f.input(:email, class: " form-control") %>
  <%= f.input(:test_group, collection: User::TEST_GROUPS, class: " form-control") %>

  </hr>
  <%= f.input(:name, class: " form-control") %>
  <%= f.input(:real_email, class: " form-control") %>
  </hr>

        
  <%= link_to "Back", users_path, class: "btn btn-lg btn-info" %>
  <%= f.button :submit, "Submit", class: "btn btn-lg btn-success pull-right" %>
<% end %>
