<p id="notice"><%= notice %></p>

<h1>User Stats</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Test-Group</th>

      <th>Name</th>
      <th>Echte Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.email}" %></td>
        <td><%= "#{user.test_group}" %></td>

        <td><%= "#{user.name}" %></td>
        <td><%= "#{user.real_email}" %></td>

        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Stats</h1>

<% @stats.each do |name, stats| %>
  <div class="stat-container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2> <%= name %> </h2>
      </div>
      <div class="panel-body">
        <%= render 'dynamic_stats', stats: stats%>
      </div>
    </div>
  </div>
<% end %>

<style type="text/css" scoped>
  .stat-container {
    width: 1500px; 
    overflow-x: scroll(or auto);
  } 
</style>