<div class="well">
  <p>
    Hier findest du Übungen für den Bereich "<%= @skill.to_string %>". 
  </p>
</div>
<% @skill.exercises.each_with_index do |exercise| %>
  <%= render "/shared/exercise", exercise: exercise, show_as_modal: true %>
<% end %>