<div class="well">
  <p>
    Hier findest du Übungen für den Bereich </p>
    <p><b><%= @skill.to_string %></b>. 
  </p>
  <p>
    Klicke auf die Links, um zu den Übungen zu gelangen.
  </p>
</div>
<div class="list-group">
  <% @skill.exercises.select{|e| e.resources[0]}.sort_by{|e| e.resources[0].unit.name}.each do |exercise| %>
    <% resource = exercise.resources[0] %>
    <%= link_to("⇒ #{resource.unit.name} » #{resource.name} (#{exercise.name})", resource_path(resource, exercise: exercise.id, anchor: "exercise-#{exercise.id}", from: params[:from]+'/'+'practice'), class: "list-group-item list-group-item-action") if resource %>
  <% end %>

</div>


