<%= render '/shared/notice.html.erb' %>

<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="panel panel-info vertical-center">
      <div class="panel-heading">
        <h2><%= raw @skill.name %></h2>
      </div>
      <div class="panel-body">   
        <% if [].include?(@skill.category.name)%>
          <%= render "exercises" %>
        <% else %>
          <%= render "resources" %>
        <% end %>
      </div>
      <div class="panel-footer">
      
      </div>
    </div>
  </div>
</div>
