<% if exercise.type == Exercise::TYPE_CLOZE %>
  <%= f.simple_fields_for :exercise do |f| %>
    <%= f.simple_fields_for :solutions do |f| %>
      <div class="exercise">
        <% content = exercise.parsed_content %>
            <% unless content[:description].nil? %>
            <div class="block-markup prompt">
              <div class="paragraph">
                <%= raw content[:description]%>
              </div>
            </div>
            <% end %>
        <% content[:text].split('%s').each_with_index do |t, i| %>
          <%= raw t %>
          <span id="blank_wrapper_<%= i %>_<%= exercise.id %>">
            <% if content[:blanks][i] && content[:blanks][i][:suggestions] && content[:blanks][i][:suggestions].count > 1 %>
              <%= f.input_field "#{i}", collection: content[:blanks][i][:suggestions], class: "", style: "background-color: white" if content[:blanks][i] %>
            <% elsif content[:blanks][i] %>
              <%= f.input_field "#{i}", class: "" if content[:blanks][i] %>
            <% end %>
          </span>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

