 <div class="exercise"> 
  <div class="<%= params[:exercise] == exercise.id.to_s ? "panel panel-success" : "panel panel-default" %>" id="exercise-<%= exercise.id %>">
    <div class="panel-heading">
      <h4>Übung</h4>
    </div>
    <div class="panel-body">
      <% if defined?(show_as_modal) && show_as_modal %>
        <div class="row">
          <div class="col-lg-1 col-sm-offset-1">
            <%= simple_form_for :exercise, url: exercise_path(exercise), method: :get, remote: true do |f| %>
              <%= f.button :submit, "» Übung starten", class: "btn btn-success btn-lg" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= render 'exercises/exercise', exercise: exercise %> 
      <% end %>
    </div>
    <div class="panel-footer">
      <% if ENV['DEBUG'] %>
          <small><%= link_to "id: #{exercise.wp_id} - #{exercise.type}", exercise_path(exercise) %></small>
          <small><%= exercise.wp_id %></small>
      <% end %>
    </div>
  </div>
</div>

