        <li><%= link_to "Visuelles Feedback", { controller: "feedback", action: "index", feedback: :skill_tree } %></li>
        <li><%= link_to "Momentaufnahme", { controller: "feedback", action: "index", feedback: :moment } %></li>
        <li><%= link_to "Text-Feedback", { controller: "feedback", action: "index", feedback: :text } %></li>
        <li><%= link_to "Hybrides Feedback", { controller: "feedback", action: "index", feedback: :hybrid } %></li>
        <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Empfehlungen
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                        <li><%= link_to "Empfehlungen 1", { controller: "feedback", action: "index", feedback: :recommendations, style: :recommendations } %></li>
                        <li><%= link_to "Empfehlungen 2", { controller: "feedback", action: "index", feedback: :recommendations, style: :recommendations_average } %></li>
                        <li><%= link_to "Empfehlungen 3", { controller: "feedback", action: "index", feedback: :recommendations, style: :recommendations_untouched } %></li>
                </ul>
        </li>
        <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fortschritt
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><%= link_to "Die letzten 10 Minuten", { controller: "feedback", action: "index", feedback: :progress, scale: 10.minutes } %></li>
                <li><%= link_to "Die letzten 30 Minuten", { controller: "feedback", action: "index", feedback: :progress, scale: 30.minutes } %></li>
                <li><%= link_to "Die letzte Stunde", { controller: "feedback", action: "index", feedback: :progress, scale: 1.hour } %></li>
                <li><%= link_to "Die letzten 2 Stunden", { controller: "feedback", action: "index", feedback: :progress, scale: 2.hour } %></li>
                <li><%= link_to "Die letzten 12 Stunden", { controller: "feedback", action: "index", feedback: :progress, scale: 2.hour } %></li>
                <li><%= link_to "Der letze Tag", { controller: "feedback", action: "index", feedback: :progress, scale: 12.hour } %></li>
                <li><%= link_to "Die letzte Woche", { controller: "feedback", action: "index", feedback: :progress, scale: 1.week } %></li>
                <li><%= link_to "Der letzte Monat", { controller: "feedback", action: "index", feedback: :progress, scale: 1.month } %></li>
                <li><%= link_to "Seit beginn", { controller: "feedback", action: "index", feedback: :progress, scale: -1 } %></li>
                </ul>
        </li>
        <li><%= link_to "Logbuch", { controller: "feedback", action: "index", feedback: :learner_log } %></li>
