<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Feedback:</a>
    </div>

      <ul class="nav navbar-nav">
        <%= render 'shared/feedback_items' %>
      </ul>
    </div>
</nav>
