<nav class="navbar navbar-inverse main-navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand", style: " margin-top: -7px;" do %>
        <%= image_tag '/favicon.ico', style: "display: inline; max-height:36px; margin-right: 5px;" %>
        KnowYourLanguage
      <% end %>
    </div>
    <% if user_signed_in? %>
    <ul class="nav navbar-nav">
      <% if request.path_info == '/units' %>
        <li class="active"><%= link_to 'Lernen', learn_path %></li>
        <li><%= link_to 'Feedback', feedback_path %></li>
      <% elsif request.path_info == '/feedback' %>
        <li><%= link_to 'Lernen und Feedback', learn_path %></li>
        <li class="active"><%= link_to 'Feedback', feedback_path %></li>
      <% else %>
        <li><%= link_to 'Lernen und Feedback', learn_path %></li>
        <% if current_user.is_admin? %> 
          <li><%= link_to 'Feedback', feedback_path %></li>
        <% end %>
      <% end %>

      <% if current_user.is_admin? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Testgruppen für Studie
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <%= render '/shared/test_group_items' %>
          </ul>
        </li>
        <li>
          <a>Testgruppe: <%= current_user.test_group %></a>
      </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li>
        <a><%= current_user.email %></a>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out"></span> Ausloggen </span>
        <% end %>
      </li>
    </ul>
  <% end %>
  </div>
</nav>
