<div class="panel panel-primary">
  <div class="panel-heading">
    Testgruppen für die Studie
  </div>
  <div class="panel-body">
    <ul>
      <%= render '/shared/test_group_items' %>
    </ul>
  </div>
</div>
