<li><%= link_to 'Testgruppe 1 - Visuelles Feedback', test_group_page_path('visual_feedback') %></li>
<li><%= link_to 'Testgruppe 2 - Textuelles Feedback', test_group_page_path('textual_feedback') %></li>
<li><%= link_to 'Testgruppe 3 - Hybrides Feedback', test_group_page_path('hybrid_feedback') %></li>
<li><%= link_to 'Testgruppe 4 - Kein Feedback', test_group_page_path('no_feedback') %></li>
