    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Kurs</h4>
      </div>
      <div class="panel-body">   
        <% UnitCategory.where(type: UnitCategory::COURSE_TYPE).map(&:units).flatten.each do |unit| %>     
          <%= render "units/unit", unit: unit %>
        <% end %>
      </div>
    </div>  