<div class="panel panel-primary">
  <div class="panel-heading">
    <b>Lern-Resourcen</b>
  </div>
  <div class="panel-body">        
    <% UnitCategory.where(type: UnitCategory::EXERCISE_TYPE).all.each do |category| %>
    <h4><%= category.name %></h4>
      <div class="list-group">
        <% category.units.each do |unit| %>
          <% unit.resources.each do |resource| %>
            <%= link_to resource.name, resource_path(resource), class: "list-group-item list-group-item-action" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>    