
<%= render 'page_header' %>  

<div class="col-sm-12 col-md-4 col-lg-4">
  <%= render 'course' %>
</div> 

<div class="col-sm-12 col-md-8 col-lg-8">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Feedback</h4>
    </div>
    <div class="panel-body">   
      <%= render 'shared/text/text', feedback: 'hybrid_feedback' %>
        <div class="hybrid-nav">
          <ul class="nav nav-tabs">
            <li class="<%= "active" if cookies[:feedback_type] == "text" %>">
              <a data-toggle="pill" href="#textual_feedback" id="text_feedback_button" class="feedback_nav">
                <b>Text-Feedback</b>
              </a>
            </li>
            <li class="<%= "active" if cookies[:feedback_type] == "visual" %>">
              <a data-toggle="pill" href="#visual_feedback" id="visual_feedback_button" class="feedback_nav">
                <b>Visuelles Feedback</b>
              </a>
            </li>
          </ul>
        </div>
        
        <div class="tab-content">
          <div id="textual_feedback" class="tab-pane fade <%= "in active" if cookies[:feedback_type] == "text" %>">
            <div class="well">
              <%= render "/feedback/text/text" %>  
            </div>
          </div>
          <div id="visual_feedback" class="tab-pane fade <%= "in active" if cookies[:feedback_type] == "visual" %>">
            <div class="well">
              <%= render "/feedback/skill_tree/skill_tree" %>
            </div>
          </div>
          <div id="default_feedback" class="tab-pane fade <%= "in active" unless cookies[:feedback_type] %>">
            <div class="well">
              Hier kannst du dein Feedback anzeigen lassen. 
              Klicke auf einen der Beiden Schalter, um dir das jeweilige Feedback anzeigen zu lassen.
            </div>
          </div>
        </div>

    </div>
  </div>      
</div> 

<%= javascript_tag do %>
  $( ".feedback_nav" ).click(function() {
    switch($(this).attr("id")) {
      case "visual_feedback_button":
        document.cookie="feedback_type= visual";
        log_it('<%= UserActivityLog::HYBRID_FEEDBACK_CHANGE_TAB %>', "visual_feedback");
        break;
      case "text_feedback_button":
        document.cookie="feedback_type= text";
        log_it('<%= UserActivityLog::HYBRID_FEEDBACK_CHANGE_TAB %>', "textual_feedback");
        break;
    }
  });

  function log_it(type, detail) {
    $.ajax({
      type: "POST",
      url: '<%= user_activity_logs_path %>',
      data: { 
        user_activity_log: { 
          event_type : type,
          detail : detail,
          user_id : '<%= current_user.id %>'
        } 
      },
      dataType: 'json'
    });
  }
<% end %>
