<%= render 'page_header' %>  

<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <%= render 'course' %>
  </div> 
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Übungen</h4>
      </div>
      <div class="panel-body"> 
        <%= render 'shared/text/text', feedback: 'no_feedback' %>
  
        <%= render '/feedback/no_feedback_tree/no_feedback_tree' %>
      </div>
    </div>     
  </div> 
  
</div> 