<%= render 'page_header' %>  

<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <%= render 'course' %>
  </div> 
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Feedback</h4>
      </div>
      <div class="panel-body">   
        <%= render 'shared/text/text', feedback: 'textual_feedback' %>

        <div class="well">
          <%= render "/feedback/text/text" %>     
        </div>
      </div>
    </div>      
  </div> 
</div> 