<%= render 'page_header' %>  

  <div class="col-sm-12 col-md-4 col-lg-4">
    <%= render 'course' %>
  </div> 
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Feedback</h4>
      </div>
      <div class="panel-body"> 
        <%= render 'shared/text/text', feedback: 'visual_feedback' %>
  
        <%= render "/feedback/skill_tree/skill_tree" %>     
      </div>
    </div>      
  </div> 
