<div>
<div class="page-header clearfix">
  <h1>
    Lernempfehlungen
  </h1>
</div>
</div>

<div>
  <% if params[:style] == "recommendations" %>
    <%= render "feedback/recommendations/recommendations" %>
  <% elsif params[:style] == "recommendations_average" %>
      <%= render "feedback/recommendations/recommendations_average" %>
  <% elsif params[:style] == "recommendations_untouched" %>
      <%= render "feedback/recommendations/recommendations_untouched" %>  
  <% end %>
</div>

