<div class="panel panel-default">
  <div class="panel-heading">
    <h5>Folgende Bereiche hast du dir bisher noch nicht angeguckt:</h5>
  </div>
  <div class="panel-body">
    <% Skill.includes(:category, :exercises).all.select {|s| !@learner.map{|l| l.skill}.include?(s)}.each do |skill| %>  
      <div class="row"> 
        <div class="col-sm-6 col-md-6">
          <p><%= "#{skill.category.name} - #{skill.name}" %></p>
        </div>
        <div class="col-sm-6 col-md-6">
          <%= render "/feedback/practice", skill: skill %>
        </div>
      </div>      
    <% end %>
  </div>
</div>
