<div class="panel panel-default">
  <div class="panel-heading">
    <h5>Deine Leistung folgender Bereiche liegt unter dem Durchschnitt:</h5>
  </div>
  <div class="panel-body">
    <% @learner.all.select {|l| l.points < l.skill.average }.each do |learner| %>       
      <div class="row"> 
        <div class="col-sm-3 col-md-3">
          <%= render("/feedback/progress_bar", skill: learner.skill, points: learner.points, average: true) %>
        </div>
        <div class="col-sm-3 col-md-3">
          <p><%= learner.skill.name %></p>
        </div>
        <div class="col-sm-3 col-md-3">
          <%= render "/feedback/practice", skill: learner.skill %>
        </div>
      </div>
    <% end %>
  </div>
</div>
