<p>
  In folgenden Bereichen weist du noch Defizite auf:
</p>

<ul style="margin:10px;">
<% learner_lowest_points(4).each do |learner| %>
  <li>
    <%= link_to("#{learner.skill.to_string}", practice_path(id: learner.skill.id, from: 'text_feedback')) if learner.skill.exercises.any? %>
  </li>
<% end %>
</ul>

<p>
  Folgende Bereiche hast du dir schon länger nicht angeguckt:
</p>

<ul style="margin:10px;">
<% learner_lowest_repetition_score(4).each do |learner| %>
  <li>
    <%= link_to("#{learner.skill.to_string}", practice_path(id: learner.skill.id, from: 'text_feedback')) if learner.skill.exercises.any? %>
  </li>
<% end %>
</ul>

<p>
  Und diese Bereiche könntest du dir zum ersten mal angucken:
</p>

<ul style="margin:10px;">
<% new_skills(4).each do |skill| %>
  <li>
    <%= link_to("#{skill.to_string}", practice_path(id: skill.id, from: 'text_feedback')) if skill.exercises.any? %>
  </li>
<% end %>
</ul>

<%# Folgenden Kompetenzbereich solltest du dir noch einmal angucken: %>

