<h3>Feedback: </h3>
<p>
  In diesem Abschnitt findest du verschiedene Möglichkeiten, um dir deinen Lernfortschritt genauer anzugucken, 
  etwas über die Lerninhalte zu lernen und dir Empfehlungen für das weitere Lernen geben zu lassen.
</p>


<% if params[:feedback] == "skill_tree" %>
  <%= render "shared/text/skill_tree" %>
<% elsif params[:feedback] == "recommendations" %>
  <%= render "shared/text/recommendations" %>
<% else %>
  <%= render "shared/text/skill_tree" %>
<% end %>