<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-8">
    <div class="jumbotron">
      <h1>
        <%= image_tag '/favicon.ico', style: "display: inline; max-height:66px; margin-right: 5px;" %>
        Know Your Language
      </h1>
      </br>
      <p>
        <h3>Die Platform zum Englisch lernen</h3>
      </p>
        <p>
          Know Your Language ist eine an der Humboldt-Universität entstandene Lernplatform
          zum Stärken funktionaler kommunikativer Kompetenzen mit dem Fokus auf der 
          Förderung der Sprachlernkompetenz durch ein Open Learner Model.
        </p>
        <p>
          Die Lernumgebung ist im Rahmen einer Masterarbeit am Lehrstuhl „Didaktik der Informatik / Informatik und Gesellschaft“ von Prof. Dr. 
          Niels Pinkwart am Institut für Informatik entstanden.
        </p>
        <p>
          Sämtliche Inhalte sind mit Einverständnis der Betreiber von der Webseite www.englisch-lernen-online.de in leicht abgeänderter Form übernommen worden.
        </p>

        <% if user_signed_in? %>
          <p>  
            <%= link_to 'Zu den Lerninhalten', learn_path , class: 'btn btn-primary btn-lg'%>

          </p>
        <% else %>
          <p>  
            <%= link_to new_user_registration_path, class: 'btn btn-primary btn-lg'  do %>
              <span class="glyphicon glyphicon-log-in"></span> Erstelle einen Account </span>
            <% end %>
            <%= link_to new_user_session_path, class: 'btn btn-primary btn-lg'  do %>
              <span class="glyphicon glyphicon-log-in"></span> Einloggen </span>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
</div>