<div class="row">
  <div class="col-sm-8 col-md-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Einloggen</h2>
      </div>
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <div class="actions">
            <%= f.submit "Einloggen", class: "btn btn-info" %>
          </div>
          </br><hr>
          <div >
          <p>Du hast noch keinen Account? </p>
          <p>
            <%= link_to "Neuen Account anlegen", new_user_registration_path, class: "btn btn-info" %>
          </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>