<div class="well" style="background-color: rgb(252, 248, 227) !important;">
<p>Für die Studie müssen Sie an drei verschiedenen Terminen anwesend sein. Die Termine finden jeweils von <strong>18:00 - 20:00 in der Rudower Chaussee 25 in Adlershof</strong> statt. </p>
<p>Bitte geben Sie durch Ankreuzen an, welche Terminlisten für Sie möglich sind.</p>
<p>Hinweis: Es können mehrere Terminlisten angekreuzt werden. </p>
</div>


<h4>   
  Terminauswahl 1
</h4>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-1 col-form-label">
  <p>
    <%= f.input_field :dateset_1, as: :boolean, input_class: "form-control-lg", style: "transform: scale(2);" %>
  </p>
  </label>
  <div class="col-sm-10">
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th>Mo 5.2.2018 </th>
            <th>Di 6.2.2018 </th>
            <th>Mi 7.2.2018 </th>
            <th>Do 8.2.2018 </th>
            <th>Fr 9.2.2018 </th>
            <th>Sa 10.2.2018 </th>
            <th>So 11.2.2018 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>x</b></td>
            <td> </td>
            <td><b>x</b></td>
            <td> </td>
            <td><b>x</b></td>
            <td> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<h4>Terminauswahl 2</h4>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-1 col-form-label">
  <p>
    <%= f.input_field :dateset_2, as: :boolean, input_class: "form-control-lg", style: "transform: scale(2);" %>
  </p>
  </label>
  <div class="col-sm-10">
    <table class="table table-bordered table-striped table-responsive">    
    <thead>
      <tr>
        <th>Mo 5.2.2018 </th>
        <th>Di 6.2.2018 </th>
        <th>Mi 7.2.2018 </th>
        <th>Do 8.2.2018 </th>
        <th>Fr 9.2.2018 </th>
        <th>Sa 10.2.2018 </th>
        <th>So 11.2.2018 </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<h4>Terminauswahl 3</h4>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-1 col-form-label">
  <p>
    <%= f.input_field :dateset_3, as: :boolean, input_class: "form-control-lg", style: "transform: scale(2);" %>
  </p>
  </label>
  <div class="col-sm-10">
    <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>Mo 12.2.2018 </th>
        <th>Di 13.2.2018 </th>
        <th>Mi 14.2.2018 </th>
        <th>Do 15.2.2018 </th>
        <th>Fr 16.2.2018 </th>
        <th>Sa 17.2.2018 </th>
        <th>So 18.2.2018 </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<h4>Terminauswahl 4</h4>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-1 col-form-label">
  <p>
    <%= f.input_field :dateset_4, as: :boolean, input_class: "form-control-lg", style: "transform: scale(2);" %>
  </p>
  </label>
  <div class="col-sm-10"> 
  <table class="table table-bordered table-striped table-responsive">
  <thead>
      <tr>
        <th>Mo 12.2.2018 </th>
        <th>Di 13.2.2018 </th>
        <th>Mi 14.2.2018 </th>
        <th>Do 15.2.2018 </th>
        <th>Fr 16.2.2018 </th>
        <th>Sa 17.2.2018 </th>
        <th>So 18.2.2018 </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
