<div class="well" style="background-color: rgb(252, 248, 227) !important;">
  Wenn Sie Anmerkungen oder Fragen haben, können Sie diese gerne hier angeben.
</div>

<div class="form-group row">
  <label for="inputPassword3" class="col-sm-2 col-form-label">Bemerkungen</label>
  <div class="col-sm-10">
    <%= f.input :comment, label: false, as: :text, size: "50x40" %>                  
  </div>
</div>