<div class="well" style="background-color: rgb(252, 248, 227) !important;">
  <p>
  Dieses Bewerbungsformular ist auszufüllen, um an der Studie teilzunehmen. 
  </p>
  <p>
  In der Studie wird eine neu entwickelte <b>Sprachlernplattform zum Erlernen der englischen Sprache</b> getestet. 
  </p>
  <p>
  Die Studie erfolgt an insgesamt <b>3 Terminen zu je 2 Stunden</b>. Nach der Teilnahme an allen drei Terminen wird eine <b>Vergütung von 70€</b> ausgezahlt.
  </p>
  <p>
  Die Erhebung von personenbezogenen Daten findet ausschließlich für Studienzwecke statt. 
  </p>
</div>


<%= simple_form_for(@participant_application) do |f| %>
  <%= f.error_notification message: 'Bitte füllen Sie alle Felder korrekt aus und beantworten alle Fragen.' %>

  <div class="panel panel-default">
    <div class="panel-heading"><b>Persönliche Daten</b></div>
    <div class="panel-body">
      <%= render 'personal_form', f: f %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><b>Englischkenntnisse</b></div>
    <div class="panel-body">
      <%= render 'language_form', f: f %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><b>Termine</b></div>
    <div class="panel-body">
      <%= render 'appointments_form', f: f %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= render 'comment_form', f: f %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-actions">
        <%= f.button :submit, "Bewerben", class: "btn btn-lg btn-success pull-right" %>
      </div>
    </div>
  </div>
<% end %>
