<div class="well" style="background-color: rgb(252, 248, 227) !important;">
  <b>Hinweis:</b> Falsche Angaben oder Betrug im folgenden Test können zum Ausschluss an der Studie führen!
</div>
<div class="form-group row">
    <div class="col-sm-9">
      <p><b>Bitte schätzen Sie Ihr Englischniveau ein:</b></p>
      <%= f.collection_radio_buttons(:english_knowledge_1, ParticipantApplication::ENGLISH_KNOWLEDGE_1_COLLECTION, :first, :first, item_wrapper_tag: false, boolean_style: :inline, collection_wrapper_tag: "div", collection_wrapper_class: "collection_radio_buttons", class: " form-control") do |b| %>
        <span class=""><%= b.label { b.radio_button + "  " + b.text } %></span><br />
      <% end %>
      <hr>
        
      <p><b>Wie viele Jahre haben Sie Englisch in der Schule gelernt?</b></p>
      <%= f.collection_radio_buttons(:years_in_school, ParticipantApplication::YEARS_IN_SCHOOL_COLLECTION, :first, :first, item_wrapper_tag: false, boolean_style: :inline, collection_wrapper_tag: "div", collection_wrapper_class: "collection_radio_buttons", class: " form-control") do |b| %>
        <span class=""><%= b.label { b.radio_button + "  " + b.text } %></span><br />
      <% end %>
      <hr>
      <div class="panel">
        <p><b>Welche der folgenden Aussagen treffen auf sie zu (es können mehrere Kreuze gemacht werden)?</b></p>
        <%= f.collection_check_boxes(:english_knowledge_2, ParticipantApplication::ENGLISH_KNOWLEDGE_2_COLLECTION, :first, :first, item_wrapper_tag: false, boolean_style: :inline, collection_wrapper_tag: "div", collection_wrapper_class: "collection_radio_buttons", class: " form-control") do |b| %>
          <span class="">	 <%= b.label { b.check_box + "  " + b.text } %></span><br />
        <% end %>            
      </div>
      <hr>
      <div class="">
        <p><b>Sprachtest:</b></p>
        <div class="well" style="background-color: rgb(252, 248, 227) !important;">
          Damit die Studie auf Sie zugeschnitten werden kann, füllen Sie bitte nachfolgenden Lückentext aus. 
          Bitte verwenden Sie dabei keine Hilfsmittel und führen Sie den Test ehrlich aus.
          <p>Hinweis: ein gutes Abschneiden ist keine Voraussetzung für die Studie, allerdings können falsche Angaben zum Ausschluss führen!</p>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <b>Englischtest</b>
            <%= "<br>#{@participant_application[:english_test_evaluation]}" if @participant_application.persisted? && user_signed_in?%>
          </div>
          <div class="panel-body">
            <%= render 'shared/exercise_as_plain_form', exercise: @exercise, f: f %>
          </div>
        </div>
      </div>
    </div>
</div>