<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Vorname</label>
  <div class="col-sm-9">
    <%= f.input :name, label: false, placeholder: "Vorname", class: "form-control", required: true %>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword3" class="col-sm-3 col-form-label">Nachname</label>
  <div class="col-sm-9">
    <%= f.input :surname, label: false, placeholder: "Nachname", class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword3" class="col-sm-3 col-form-label">Geschlecht</label>
  <div class="col-sm-9">
    <%= f.input :sex, label: false, prompt: "Geschlecht", collection: ["männlich", "weiblich", "Sonstige"], class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword3" class="col-sm-3 col-form-label">Nationalität</label>
  <div class="col-sm-9">
    <%= f.input :nationality, label: false, placeholder: "Nationalität", class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword3" class="col-sm-3 col-form-label">Deutschkenntnisse</label>
  <div class="col-sm-9">
    <%= f.input :german_knowledge, label: false, prompt: "Deutschkenntnisse", collection: ParticipantApplication::GERMAN_KNOWLEDGE_COLLECTION, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <label for="inputPassword3" class="col-sm-3 col-form-label">Email-Adresse</label>
  <div class="col-sm-9">
    <%= f.input :email, label: false, placeholder: "Email", class: "form-control" %>
    <%= f.input :email_confirmation, label: false, placeholder: "Email (Bestätigung)", class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword3" class="col-sm-3 col-form-label">Telephonnummer</label>
  <div class="col-sm-9">
    <%= f.input :phone_number, label: false, placeholder: "Telefonnummer", class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword3" class="col-sm-3 col-form-label">Geburtsdatum</br>oder Alter</label>
  <div class="col-sm-5">
    <%#s f.input_field :date_of_birth,
                      as: :date, start_year: Date.today.year - 90,
                      #input_html: {type: :date},
                      end_year: Date.today.year - 12,
                      order: [:day, :month, :year],
                      class: "form-control" %>
    <%= f.input :date_of_birth, label: false, as: :string, input_html: {type: :date} %>
  </div>
  <div class="col-sm-4">
    <%= f.input :age, label: false, placeholder: "Alter in Jahren", input_html: { type: "number" } %>                  
  </div>
</div>
