<div class="well"  style="background-color: #d6e9c6 !important;">
  <h4>Vielen Dank für Ihre Anmeldung!</h4>

  <p>
    Wir werden uns spätestens ab dem Anmeldeschluss am 1.2..2018 mit Ihnen in Verbindung setzen.
  </p>

  <p>
    Ihre Daten:
  <br>
  <span style="margin-left: 1em;">
    <%= "Name: #{@participant_application.name} #{@participant_application.surname}"%>
    </br>
  </span>
  <span style="margin-left: 1em;">
    <%= "Email: #{@participant_application.email}"%>
  </span>
  </p>
<br>
  Sie haben Sich für folgende Terminmöglichkeiten eingetragen:


<br><br>
<% if @participant_application.dateset_1 %>
<h4>   
  Terminauswahl 1
</h4>
<div class="form-group row">
  <div class="col-sm-10">
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th>Mo 5.2.2018 </th>
            <th>Di 6.2.2018 </th>
            <th>Mi 7.2.2018 </th>
            <th>Do 8.2.2018 </th>
            <th>Fr 9.2.2018 </th>
            <th>Sa 10.2.2018 </th>
            <th>So 11.2.2018 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>x</b></td>
            <td> </td>
            <td><b>x</b></td>
            <td> </td>
            <td><b>x</b></td>
            <td> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if @participant_application.dateset_2 %>
<h4>Terminauswahl 2</h4>
<div class="form-group row">
  <div class="col-sm-10">
    <table class="table table-bordered table-striped table-responsive">    
    <thead>
      <tr>
        <th>Mo 5.2.2018 </th>
        <th>Di 6.2.2018 </th>
        <th>Mi 7.2.2018 </th>
        <th>Do 8.2.2018 </th>
        <th>Fr 9.2.2018 </th>
        <th>Sa 10.2.2018 </th>
        <th>So 11.2.2018 </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<% end %>

<% if @participant_application.dateset_3 %>
<h4>Terminauswahl 3</h4>
<div class="form-group row">
  <div class="col-sm-10">
    <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>Mo 12.2.2018 </th>
        <th>Di 13.2.2018 </th>
        <th>Mi 14.2.2018 </th>
        <th>Do 15.2.2018 </th>
        <th>Fr 16.2.2018 </th>
        <th>Sa 17.2.2018 </th>
        <th>So 18.2.2018 </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<% end %>

<% if @participant_application.dateset_4 %>
<h4>Terminauswahl 4</h4>
<div class="form-group row">
  <div class="col-sm-10"> 
  <table class="table table-bordered table-striped table-responsive">
  <thead>
      <tr>
        <th>Mo 12.2.2018 </th>
        <th>Di 13.2.2018 </th>
        <th>Mi 14.2.2018 </th>
        <th>Do 15.2.2018 </th>
        <th>Fr 16.2.2018 </th>
        <th>Sa 17.2.2018 </th>
        <th>So 18.2.2018 </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
        <td><b>x</b></td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<% end %>


  <p>
    Wenn Sie Rückfragen haben, melden Sie sich bitte unter folgender Email-Adresse: 
    </br>
    <strong><%= link_to 'ole.richter@hu-berlin.de'%></strong>
  </p>
</div>



