<p id="notice"><%= notice %></p>

<h1>Participant Applications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>email</th>
      <th>Geboren</th>
      <th>Alter</th>
      <th>Nationalität</th>
      <th>Deutsch-Kenntnisse</th>
      <th>Englisch Jahre</th>
      <th>Englisch-Niveau</th>
      <th>Test-Ergebnis</th>
      <th>|1</th>
      <th>2</th>
      <th>3</th>
      <th>4|</th>
      <th>Kommentar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participant_applications.each do |participant_application| %>
      <tr>
        <td><%= "#{participant_application.name} #{participant_application.surname}" %></td>
        <td><%= "#{participant_application.email}" %></td>

        <td><%= "#{participant_application.date_of_birth}" %></td>
        <td><%= "#{participant_application.age}" %></td>
        <td><%= "#{participant_application.nationality}" %></td>

        <td><%= "#{participant_application.german_knowledge}" %></td>

        <td><%= "#{participant_application.years_in_school[0..2]}" %></td>
        <td><%= "#{participant_application.english_knowledge_1[0..1]}" %></td>

        <td><%= "#{JSON.parse(participant_application.english_test_evaluation)['points']}" %></td>

        <td><%= "#{participant_application.dateset_1 ? '✓' : '-'}" %></td>
        <td><%= "#{participant_application.dateset_2 ? '✓' : '-'}" %></td>
        <td><%= "#{participant_application.dateset_3 ? '✓' : '-'}" %></td>
        <td><%= "#{participant_application.dateset_4 ? '✓' : '-'}" %></td>
        <td><%= "#{"!!!" if !participant_application.comment.blank?}" %></td>
        
        <td><%# link_to 'Show', participant_application %></td>
        <td><%= link_to 'Edit', edit_participant_application_path(participant_application) %></td>
        <td><%# link_to 'Destroy', participant_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant Application', new_participant_application_path %>