<p>WP-ID: <%= "#{@resource.wp_id}"%> </p>
<p>Kompetenzen: </br> <%= @resource.skills_to_sentence %></p>
<p>Exercises: </br> <%= raw "#{@resource.sorted_exercises.map{|e| "#{e.wp_id} - #{e.id}"}.join('</br>')}"%></p>