<div class="page-header clearfix">
  <h1>
    Kompetenzbereiche und Themen
  </h1>
</div>
<div class="row">
  <div class="col-sm-12 col-md-7 col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Visuelles Feedback</b>
      </div>
      <div class="panel-body">
        <%= render "feedback/skill_tree/skill_tree", id: 1 %>
      </div>
    </div>
  </div> 

  <div class="col-sm-12 col-md-5 col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Text-Feedback</b>
      </div>
      <div class="panel-body">
        <%= render "feedback/text/text", id: 1 %>
      </div>
    </div>
  </div> 
</div> 
