<div class="page-header clearfix">
  <h1>
    Kompetenzbereiche und Themen
  </h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <b>Übersicht Kompetenzbereiche</b>
  </div>
  <div class="panel-body">
    <%= render "feedback/skill_tree/skill_tree", id: 1 %>
  </div>
</div>

