<div class="row">

  <div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Durchschnitt anzeigen
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><%= link_to "anzeigen", params.merge(feedback: :skill_tree, average: true).permit(:feedback, :average) %></li>
      <li><%= link_to "nicht anzeigen", params.merge(feedback: :skill_tree, average: false).permit(:feedback, :average) %></li>
    </ul>
  </div>
  <%= link_to "Zurück", learn_path, class: "btn btn-default" if params[:skill_id] %>
</div>