<a aria-hidden="true" data-toggle="collapse" data-target=".skill" class="btn btn-primary">
  alles aufklappen
</a>

<div class="panel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <h4>Thema</h4>
      </div>
      <div class="col-sm-3 col-md-3">
        <h4>Leistung</h4>
      </div>
      <div class="col-sm-3 col-md-3">
        <h4>Zuletzt wiederholt</h4>
      </div>
      <div class="col-sm-2 col-md-2">
        <h4></h4>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% SkillCategory.order_by(name: :asc).all.each do |category| %>        
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <% Skill.roots.where(category: category).each do |root| %>
              <%= render 'feedback/skill_tree/tree', skill: root %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $('#toggle-all-btn').on('click', function () {
      $('#accordion .panel-collapse').collapse('toggle');
  });
<% end %>
