<% learner = skill.learners.where(user: current_user).first %>

<% if true || skill.children.any? || UnitCategory.where(type: UnitCategory::COURSE_TYPE).first.skills.include?(skill) %>
  <div style="margin-bottom: 0px; margin-top: 4px; ">

      <div class="row">
        <div class="col-sm-4 col-md-4">
          <% if skill.children.any? %>
            <a aria-hidden="true" data-toggle="collapse" data-target="#skill_<%=skill.id%>">
              <span class="glyphicon glyphicon-chevron-down"></span>
              <%= skill.name %>
            </a>
          <% else %> 
            <a>
              <%= skill.name %>
            </a>
          <% end %> 
            <%= link_to({ controller: "feedback", action: "index", feedback: :detail, scale: -1, skill_id: skill.id }) do %>
              <span class="glyphicon glyphicon-search" style="padding-left: 1em"></span>
            <% end %>
        </div>

        <div class="col-sm-3 col-md-3">
          <% if learner %>
            <%= render("/feedback/progress_bar", points: learner.points, skill: skill, average: params[:average] == 'true') %>
          <% else %>
            <%= render("/feedback/progress_bar", points: nil, skill: skill, average: params[:average] == 'true') %>
          <% end %>
        </div>

        <div class="col-sm-3 col-md-3">
          <% if learner %>
            <%# render("/feedback/progress_bar", points: learner.repetition_score, skill: skill, average: false, no_points: true) %>
            <%= "vor #{time_ago_in_words(learner.updated_at)}" %>
          <% else %>
            <%= "noch nie" %>
          <% end %>
        </div>

        <div class="col-sm-2 col-md-2">
          <%= render "/feedback/practice", skill: skill, from: 'visual_feedback' %>
        </div>
      </div>
    <% if skill.child_ids.any? %>
      <div id="skill_<%=skill.id%>" class="skill collapse" style="margin-left: 18px; padding-left: 6px; margin-bottom: 10px; border-left: 1px solid #bbbbbb; border-bottom: 1px solid #bbbbbb; border-radius: 0em 1em 1em 1em;">
        <% skill.child_ids.each do |child_id| %>
          <%= render 'feedback/skill_tree/tree', skill: @skills[child_id] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>