    
<div class="panel panel-primary">
  <div class="panel-heading">
    <b><%= category.name %></b>
  </div>
  <div class="panel-body">        
    <% category.units.each do |unit| %>
      <%= render 'unit', unit: unit%>
    <% end %>
  </div>
</div>      