<div class="panel">
  <div class="panel-heading">
    <h4><%= unit.name %></h4>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <% unit.resources.each do |resource| %>
        <% if UserActivityState.find_or_create_by(user: current_user).current_resource == resource %>
          <%= link_to resource_path(id: resource.id), class: "list-group-item list-group-item-action list-group-item-warning" do %>
            <span><b><%=  "#{resource.name}" %></b></span>
          <% end %>
        <% elsif UserActivityState.find_or_create_by(user: current_user).resource_ids.include?(resource.id) %>
          <%= link_to resource_path(id: resource.id), class: "list-group-item list-group-item-action list-group-item-success" do %>
            <span><%=  "#{resource.name}" %></span>
            <span class="badge badge-secondary">abgeschlossen</span>
          <% end %>
        <% else %>
          <%= link_to "#{resource.name}", resource_path(id: resource.id), class: "list-group-item list-group-item-action" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>