<%= render '/shared/notice.html.erb' %>

<div class="page-header clearfix">
  <h1>Lerneinheiten</h1>
</div>

<div class="row">
    <% @categories.courses.each do |category| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <%= render 'category', category: category%>
      </div>
  <% end %>
  <% @categories.exercises.each do |category| %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= render 'category', category: category%>
    </div>
  <% end %>
</div>
