<%= render '/shared/notice' %>

<div class="page-header clearfix">
  <h1>Lerneinheit</h1>
</div>
<div>
  <%= render 'unit', unit: @unit %>
</div>
<div>
  <br />
  <%= link_to 'Zurück', units_path, class: "btn" %>
</div>
