<div class="row">
<div class="page-header clearfix">
  <h1>
    Kompetenzbereiche und Themen
  </h1>
</div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      Übersicht Kompetenzbereiche
    </div>
    <div class="panel-body">
      <%= render "feedback/skills/skill_tree", id: 1 %>
    </div>
  </div>

  <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Übersicht Kompetenzbereiche</b>
    </div>
    <div class="panel-body">
      <%= render "feedback/skills/skills_niveau", id: 2 %>
    </div>
  </div>

  <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Übersicht Kompetenzbereiche</b>
    </div>
    <div class="panel-body">
      <%= render "feedback/skills/skills_1", id: 3 %>
    </div>
  </div>
</div>

