<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
      <thead>
        <tr>
          <th>Kompetenz</th>
          <th>Themen</th>
          <th>Niveau</th>
          <th>Übungen</th>
        </tr>
      </thead>
      <tbody>
        <% SkillCategory.all.each do |category| %>
          <tr>
            <td><%= category.name %></td>
          </tr>
          <% category.skills.each do |skill| %>
            <tr>
              <td></td>
              <td><%= skill.name %></td>
              <td><%= skill.niveau.name %></td>
              <td>
                <%= render "exercises_dropdown", exercises: skill.exercises %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
