<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
        <% Niveau.all.each do |niveau| %>
            <h4>Niveau <%= niveau.name %></h4>
          <div id="niveau_<%=niveau.id%>" >
            <% SkillCategory.all.each do |category| %>
              <button data-toggle="collapse" data-target="#category_<%=id%>_<%=category.id%>" class="btn btn-default">
                <span><%= category.name %></span>
              </button>
            <% end %>
            <% SkillCategory.all.each do |category| %>
              <div id="category_<%=id%>_<%=category.id%>" class="collapse">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Thema</th>
                      <th>Übungen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% Skill.where(niveau: niveau, category: category).each do |skill| %>
                      <tr>
                        <td><%= skill.name %></td>
                        <td>
                          <%= render "exercises_dropdown", exercises: skill.exercises %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        <% end %>
  </div>
</div>
