<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">

    <% SkillCategory.all.each do |category| %>

        <% end %>
        <% SkillCategory.all.each do |category| %>        
          <div class="row">
            <button data-toggle="collapse" data-target="#category_<%=id%>_<%=category.id%>" class="btn btn-default">
              <span><b><%= category.name %></b></span>
            </button>
          </div>
          <div id="category_<%=id%>_<%=category.id%>" class="collapse">
            <div class="well">
              <% Skill.roots.where(category: category).each do |root| %>
                <%= render 'feedback/skills/tree', node: root %>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
</div>
