<ul style= "margin-left: 0.6em; margin-bottom: 0.2em; padding-left: 0.6em;">
  <li><%= node.name %> - <%= render "exercises_dropdown", exercises: node.exercises %></li>
  <% node.children.each do |child| %>
    <%= render 'feedback/skills/tree', node: child %>
  <% end %>
</ul>