// Place all the styles related to the ParticipantApplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
  font-size: 1em !important;

  .collection_check_boxes, .collection_radio_buttons {
    label {
      font-weight: normal;

    }
    font-weight: normal;
  }
}

.collection_check_boxes, .collection_radio_buttons {
  label {
    font-weight: normal;
  }
}

