// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "feedback_beautify.scss";

$primary-color: rgb(238, 238, 238);

$infobox-content: rgb(255, 255, 255);
$infobox-header: rgb(255, 255, 255);
$exercise-content: rgb(255, 255, 255);
$exercise-header: rgb(255, 255, 255);

$meta-information: rgb(170, 170, 170);

#main-container {
  .tabbable {
    background-color: $infobox-header;
  }
  .tab-content.well {
    background-color: $infobox-content
  }

  .module-output {
    .panel-heading {
      background-color: $exercise-header;
    }
    .panel-content {
      background-color: $exercise-content;
    }
  }
}

.meta-information {
  background-color: $meta-information;
}

.well{
  background-color: white !important;
}

.exercise {
  line-height: 1.5em;

  .panel-heading {
    background-color: #dff0d8;
  }
}

.evaluation-wrapper {
  display: none;
  background-color: #ffa;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.solution {
  padding: 3px;
  margin: 2px;
}

.answer {
  padding: 3px;
  margin: 2px;
}

.entry-content {
  font-size: 14px;
}
// .media-wrapper, audio {
//   margin: 14px 0px 14px 0px;
// }


// .paragraph {
//   margin: 6px 0px 6px 0px;  
  
// }

// .ex-word, .ex-sentence, .grammar {
//   background-color: #FFE8BF;
//   opacity: 0.8;
//   padding: 2px 4px 2px 4px;
// }