
<%= simple_form_for :exercise, url: evaluate_exercise_path(id: exercise.id), method: :post, remote: true do |f| %>
  <%= f.simple_fields_for :solutions do |f| %>
    <div>
      <% content = exercise.parsed_content %>
          <% unless content[:description].nil? %>
          <div class="block-markup prompt">
            <div class="paragraph">
              <%= raw content[:description]%>
            </div>
          </div>
          <% end %>
      <% content[:text].split('%s').each_with_index do |t, i| %>
        <%= raw t %>
        <span id="blank_wrapper_<%= i %>_<%= exercise.id %>">
          <% if content[:blanks][i] && content[:blanks][i][:suggestions] && content[:blanks][i][:suggestions].count >= 1 %>
            <%= f.input_field "#{i}", collection: (content[:blanks][i][:solutions] + content[:blanks][i][:suggestions]).uniq.shuffle, class: "", style: "background-color: white" if content[:blanks][i] %>
          <% elsif content[:blanks][i] %>
            <%= f.input_field "#{i}", class: "" if content[:blanks][i] %>
          <% end %>
        </span>
      <% end %>
    </div>
    <div>
      <%= f.button :submit, "Übung auswerten", class: "btn btn-primary btn-sm pull-right", id: "evaluation_btn_#{exercise.id}" %>
    </div>
  <% end %>
<% end %>

