<% content = exercise.parsed_content %>
<%= simple_form_for :exercise, url: evaluate_exercise_path(id: exercise.id), method: :post, remote: true do |f| %>
  <%= f.simple_fields_for :solutions do |f| %>
    <div>
          <% unless content[:description].nil? %>
          <div class="block-markup prompt">
            <div class="paragraph">
              <%= raw content[:description]%>
            </div>
          </div>
          <% end %>
      <% content.words.each_with_index do |w, i| %>
        <div class="row">
          <div class="col-sm-5 col-md-6 col-lg-4">
            <%= w[:word] %>:
          </div> 
          <div class="col-sm-7 col-md-6 col-lg-8">
            <span id="blank_wrapper_<%= i %>_<%= exercise.id %>">
              <%= f.input_field "#{i}", collection: (content.categories).shuffle, class: "form-control" %>
            </span>
          </div>     
        </div> 
      <% end %>
    </div>
    <div>
      <%= f.button :submit, "Übung auswerten", class: "btn btn-primary btn-sm pull-right", id: "evaluation_btn_#{exercise.id}" %>
    </div>
  <% end %>
<% end %>
