<%= simple_form_for :exercise, url: evaluate_exercise_path(id: exercise.id), method: :post, remote: true do |f| %>
  <%= f.simple_fields_for :solutions do |f| %>
    <div>
      <% exercise.parsed_content.each_with_index do |t, i| %>
        <p>
          <%= t.question %>
          <br />
          <span id="blank_wrapper_<%= i %>_<%= exercise.id %>">
            <%= f.input_field "#{i}", collection: (exercise.all_answers).shuffle, class: "form-control" %>
          </span>
        </p>
      <% end %>
    </div>
    <div>
      <%= f.button :submit, "Übung auswerten", class: "btn btn-primary btn-sm pull-right", id: "evaluation_btn_#{exercise.id}" %>
    </div>
  <% end %>
<% end %>
