<% exercise ||= @exercise %>

<div> 
  <div class="evaluation-wrapper" id="evaluation-wrapper_<%= exercise.id %>"></div>
  <% if %w(cloze multiple_choice).include? exercise.type %>
    <%= render "exercises/cloze", exercise: exercise %>
  <% else %>
    <%= render "exercises/#{exercise.type}", exercise: exercise %>
  <% end %>

  <input type="button" style="display: none" value="Übung wiederholen" onClick="window.location.reload()" class="btn btn-warning btn-sm pull-right" id="repeat_btn_<%= exercise.id %>">      
</div>

