<%= simple_form_for :exercise, url: evaluate_exercise_path(id: exercise.id), method: :post, remote: true do |f| %>
  <p>
    Bei dieser Übung kannst du dich selbst einschätzen.
  </p>
  <p>
    Bitte schätze dich so gut es geht selbst ein, um die Einschätzung ins Feedback einfließen zu lassen.
  </p>
  <p>
    <div class='row'>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <span><%= f.range_field :points, min: 1, max: 10, step: 1, value: 5, class: "slide", id: "rangeInput" %></span>
      </div>  
      <div class="col-sm-6 col-md-6 col-lg-8">
        <span id="rangeText" />        
      </div>
    </div>
    </br>
    <%= f.button :submit, "Abschicken", class: "btn btn-primary btn-sm pull-right", id: "evaluation_btn_#{exercise.id}" %>
  </p>
<% end %>

<%= javascript_tag do %>
  var rangeValues =
  {
      "1": "1 - noch nicht so gut",
      "2": "2 - noch nicht so gut",
      "3": "3 - noch nicht so gut",
      "4": "4 - ok",
      "5": "5 - ok",
      "6": "6 - ok",
      "7": "7 - gut",
      "8": "8 - gut",
      "9": "9 - Sehr gut",
      "10": "10 - Sehr gut"
  };
  $(function () {

      // on page load, set the text of the label based the value of the range
      $('#rangeText').text(rangeValues[$('#rangeInput').val()]);

      // setup an event handler to set the text when the range value is dragged (see event for input) or changed (see event for change)
      $('#rangeInput').on('input change', function () {
          $('#rangeText').text(rangeValues[$(this).val()]);
      });

  });
<% end %>
