<%= simple_form_for :exercise, url: evaluate_exercise_path(id: exercise.id), method: :post, remote: true, class: "exercise-form" do |f| %>
  <%= f.simple_fields_for :solutions do |f| %>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Deutsch</th>
            <th>English</th>
          </tr>
        </thead>
        <tbody>
            <% exercise.parsed_content.words.each_with_index do |v, i| %>
              <tr class="word_wrapper" id="word_wrapper_<%=i%>">
                <td><%= v.german %></td>
                <td>
                  <span id="blank_wrapper_<%= i %>_<%= exercise.id %>">
                    <%= f.input_field "#{i}", class: "form-control" %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </ul>
    </div>
    <div>
      <%= f.button :submit, "Übung auswerten", class: "btn btn-primary btn-sm pull-right exercise-submit", id: "evaluation_btn_#{exercise.id}" %>
    </div>
  <% end %>
<% end %>
