<% if @evaluation[:points] == @evaluation[:max_points]%>
    var text = "Sehr gut, volle Punktzahl!"
<% elsif 1.0 * @evaluation[:points] / @evaluation[:max_points] >= 0.7 %>
    var text = "Sehr gut!"
<% elsif 1.0 * @evaluation[:points] / @evaluation[:max_points] >= 0.4 %>
    var text = "Das war schon ganz ok."
<% else %>
    var text = "Du solltest noch ein wenig üben."
<% end %>
$("#evaluation-wrapper_<%= @exercise.id %>").html('<p><strong>' + text + '</strong></p>');

$("#evaluation-wrapper_<%= @exercise.id %>").append("<%= escape_javascript("Du hast <strong>#{@evaluation[:points]} von #{@evaluation[:max_points]} Punkten</strong>  erreicht (das sind <strong>#{(100.0 * @evaluation[:points] / @evaluation[:max_points]).round}%</strong>).").html_safe %>");
$("#evaluation-wrapper_<%= @exercise.id %>").css('display', 'block');

<% @evaluation[:solutions].each_with_index do |solution, i| %>
    <% if false && solution[:solution].empty? %>
        $("#blank_wrapper_<%=i%>_<%= @exercise.id %>").html('-');
    <% else %>
        var solution = '<%= escape_javascript(solution[:solution].strip) %>';
    
        var blank = '<%= escape_javascript(solution[:blank].strip) %>';

        <% if solution[:correct] %>
            $("#blank_wrapper_<%=i%>_<%= @exercise.id %>").html('<span class="label-success label"><span class="glyphicon glyphicon-ok"></span></span> ');
            $("#blank_wrapper_<%=i%>_<%= @exercise.id %>").append('<span class="blank"><strong>' + blank + '</strong></span> (<span class="solution">' + solution + '</span>)');

            $("#blank_wrapper_<%=i%>_<%= @exercise.id %> .solution").css("color", "#3c763d");
        <% else %>
            $("#blank_wrapper_<%=i%>_<%= @exercise.id %>").html('<span class="label-danger label"><span class="glyphicon glyphicon-remove"></span></span> ');
            $("#blank_wrapper_<%=i%>_<%= @exercise.id %>").append('<span class="blank"><strong>' + blank + '</strong></span> (<span class="solution">' + solution + '</span>)');

            $("#blank_wrapper_<%=i%>_<%= @exercise.id %> .solution").css("color", "#cc0000");
        <% end %>


    <% end %>   

    $("#evaluation_btn_<%= @exercise.id %>").remove();
    $("#repeat_btn_<%= @exercise.id %>").show();
<% end %>