<div class="panel panel-success">
  <div class="panel-heading">
    Content json
  </div>
  <div class="panel-body">
    <%= JSON.pretty_generate(JSON.parse(@exercise.content)) %>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    Content yaml
  </div>
  <div class="panel-body">
    <%= "#{JSON.parse(@exercise.content).to_yaml}".gsub("'", '"') %>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    Meta
  </div>
  <div class="panel-body">
      wp_id: <%= @exercise.wp_id %></br>
      type: <%= @exercise.type %></br>
      config: <%= @exercise.config %></br>
      name: <%= @exercise.name %></br>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    Associations
  </div>
  <div class="panel-body">
    skills:</br> <%= raw @exercise.skills.map {|s| "#{s.to_string} (exercises: #{s.exercises.count})" }.join("</br>") %></br>
    niveau: <%= @exercise.niveau.name %></br>
    level: <%= @exercise.level.name %></br>
    resources: <%= @exercise.resources.map(&:name).to_sentence(locale: :de) if @exercise.resources.any? %></br>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
  
  </div>
  <div class="panel-body">
  </div>
</div>

