<%= render '/shared/modal' %>

var header = "Übung";
var center = "";

var content = '<%= escape_javascript(render "exercise", exercise: @exercise).html_safe %>';
var strSubmitFunc = "applyButtonFunc()";
var btnText = "Weiter machen!";
doModal(header, center, content, strSubmitFunc, btnText);