<div class="jumbotron">
  <h2>Feedback</h2>
  <p>
    In diesem Abschnitt findest du verschiedene Möglichkeiten, um dir deinen Lernfortschritt genauer anzugucken, 
    etwas über die Lerninhalte zu lernen und dir Empfehlungen für das weitere Lernen geben zu lassen.
  </p>
  <p>
    Im Feedback-Menü kannst du zwischen unterschiedlichen Darstellungsformen auswählen.
  </p>
