<% no_points||= false %>
<div style="display: inline"> 
  <div class="progress">
    <% if points.nil? %>
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      <span style="color: black; padding-left: 8px"> - </span>
    <% elsif average && skill.average %>
      <% if points >= skill.average %>
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: <%= score_background_color_single(points) %>; width: <%= skill.average() -1 %>%">
            <span style="color: black"><%= "#{points.round(0)}" unless no_points %></span>        
          </div>
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: black; width: 2px">
          </div>
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: <%= score_background_color_single(points) %>; width: <%= points.round - skill.average %>%">
          </div>
      <% else %>
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: <%= score_background_color_single(points) %>; width: <%= points + 2 %>%">
            <span style="color: black"><%= "#{points.round(0)}" unless no_points %></span>        
          </div>
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: transparent; width: <%= skill.average - points.round %>%">
          </div>
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: black; width: 2px">
          </div>
      <% end %>
    <% else %>
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: <%= score_background_color_single(points) %>; width: <%= points + 2 %>%">
            <span style="color: black"><%= "#{points.round(0)}" unless no_points %></span> 
          </div>
    <% end %>
  </div>
</div>