<div id="feedback-container" class="container">
    <div>
        <% if params[:feedback] %>
            <%= render "feedback/#{params[:feedback]}/index"  %>
        <% else %>
            <%= render "shared/feedback_navigation", feedback: params[:feedback] %>
        <% end %>
    </div>

    <div class="col-sm-3 col-md-4 col-lg-4">
        <% unless params[:feedback] = 'detail' %>
            <div>
                <div class="panel panel-info vertical-center">
                    <div class="panel-heading"><b>Infobox</b></div>
                    <div class="panel-body">
                        <div id"infobox" class="container-fluit">
                            <%= render "feedback/infobox/infobox" %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
