<a aria-hidden="true" data-toggle="collapse" data-target=".skill" class="btn btn-primary">
  alles aufklappen
</a>


<div class="list-group">
    <% SkillCategory.order_by(name: :asc).all.each do |category| %>        
        <% Skill.roots.where(category: category).each do |root| %>
          <%= render 'feedback/no_feedback_tree/tree', skill: root %>
        <% end %>
    <% end %>
</div>


