<div>
  <% learner = skill.learners.where(user: current_user).first %>
</div>

<% if true || skill.children.any? || UnitCategory.where(type: UnitCategory::COURSE_TYPE).first.skills.include?(skill) %>
<div style= "margin-left: 18px; margin-bottom: 0px; margin-top: 4px; border-bottom: thin solid #dddddd;">
  <div class="list-group-item list-group-item-action">
    <div class="lala">
    <% if skill.children.any? %>
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#skill_<%=skill.id%>"></span>
    <% end %> 
    <%= skill.name %>
    <span class="pull-right">
      <%= render "/feedback/practice", from: "no_feedback", skill: skill %>
    </span>
    </div>
</div>

  <div id="skill_<%=skill.id%>" class="skill collapse">
    <% skill.child_ids.each do |child_id| %>
      <%= render 'feedback/no_feedback_tree/tree', from: "no_feedback", skill: @skills[child_id] %>
    <% end %>
    
  </div>
</div>

<% end %>