<!DOCTYPE html>
<html>
  <head>
    <title>Know Your Language</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'peek/bar' if ENV['DEBUG'] %>

    <%= render 'shared/navigation' %>

    <div id="main-container" class="container-fluid">
          <%= yield %>
    </div>

    <div class="footer">
    </div>
  </body>
</html>
