<!DOCTYPE html>
<html>
  <head>
    <title>Know Your Language</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div style="min-height: 2em"></div>
    </div>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="footer">
      <div style="min-height: 20em"></div>
    </div>
  </body>
</html>
